In [841]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model

df = pd.read_csv("GroupExam2024_data_and_documentation/elektronisk-rapportering-ers-2018-fangstmelding-dca-simple.csv", sep=';', decimal=',')

In [842]:
#print(df.info())
pd.set_option('display.max_rows', None)
print(df['Hovedart FAO'].value_counts())

Hovedart FAO
Torsk                            86215
Sei                              66311
Dypvannsreke                     36977
Hyse                             28176
Lange                            13387
Øyepål                            7796
Brosme                            7168
Sild                              6846
Kolmule                           6166
Snøkrabbe                         6070
Snabeluer                         6065
Lysing                            5964
Blåkveite                         4986
Breiflabb                         2552
Tobis og annen sil                2064
Lodde                             1378
Hestmakrell                       1224
Makrell                           1146
Vassild                           1120
Flekksteinbit                      896
Uer (vanlig)                       785
Lyr                                780
Stortare                           683
Rødspette                          615
Antarktisk krill                   552
Brisling                           541
Taskekrabbe                        532
Strømsild                          314
Strømsild/Vassild                  298
Vågehval                           296
Hvitting                           294
Reke av  Pandalusslekten           221
Raudåte                            207
Reke av  Palaemonidaefamilien      205
Gråsteinbit                        203
Pink cusk-eel*                     196
Blåsteinbit                        163
Pigghå                             138
Annen skate og rokke               129
Steinbiter                         112
Annen marin fisk                   108
Sjøkreps                            96
Kveite                              95
Sølvtorsk                           70
Smørflyndre                         38
Blålange                            37
Antarktisk tannfisk                 34
Lomre                               28
Skjellbrosme                        27
Kongekrabbe                         22
Akkar                               21
Havmus                              18
Annen torskefisk                    12
Glassvar                            10
Gapeflyndre                          9
Laksesild                            9
Skrubbe                              8
Rognkjeks (felles)                   8
Lanternfishes nei *                  8
Hakes nei. *                         8
Annen flyndre                        4
Sandtunge                            3
Nordlig lysprikkfisk                 3
Sandflyndre                          3
Makrellstørje                        2
Various squids nei *                 2
Blåhval                              1
Annen laksefisk                      1
Name: count, dtype: int64

In [843]:
print(df['Art FAO'].value_counts())

Art FAO
Torsk                            56574
Sei                              42557
Hyse                             39120
Lange                            17338
Uer (vanlig)                     14153
Dypvannsreke                     13678
Brosme                            9167
Lysing                            8839
Breiflabb                         8543
Blåkveite                         8046
Flekksteinbit                     8037
Snøkrabbe                         6070
Sild                              6006
Kveite                            5649
Snabeluer                         5408
Gråsteinbit                       5389
Lyr                               4863
Makrell                           3013
Smørflyndre                       2869
Kolmule                           2843
Annen marin fisk                  2378
Øyepål                            2210
Rødspette                         2206
Hvitting                          2175
Annen skate og rokke              2136
Blåsteinbit                       2129
Skjellbrosme                      1401
Lodde                             1188
Hestmakrell                       1035
Blålange                           991
Strømsild                          949
Skate, uspesifisert                900
Havmus                             843
Tobis og annen sil                 820
Lomre                              771
Sølvtorsk                          753
Stortare                           683
Steinbiter                         626
Antarktisk krill                   552
Sjøkreps                           536
Taskekrabbe                        480
Strømsild/Vassild                  421
Glassvar                           420
Annen flyndre                      416
Gapeflyndre                        389
Piggvar                            380
Isgalt                             309
Vågehval                           296
Pigghå                             281
Vassild                            280
Knurr                              278
Brisling                           268
Sandflyndre                        252
Akkar                              252
Raudåte                            206
Reke av  Palaemonidaefamilien      205
Pink cusk-eel*                     148
Skolest                            136
Svarthå                            134
Knurr uspes.                       123
Uer uspes.                         120
Reke av  Pandalusslekten           100
Rognkjeks (felles)                  98
Blåkjeft                            89
Skater, upes.                       84
Rødknurr                            81
Sjøpiggsvin uspes.                  70
Rødpølse                            62
Hummer                              53
Sypike                              48
Gulringskate                        45
Skrubbe                             45
Laksesild                           44
Slettvar                            43
Common squids nei *                 35
Antarktisk tannfisk                 34
Piggskate                           31
Hågjel                              27
Kongekrabbe                         23
Kortpigget hå                       18
Håbrann                             17
Sandskate                           16
Southern hake*                      13
Mora uspes.                         11
Hakes nei. *                        11
Nordlig lysprikkfisk                11
Slimål                               9
Inshore squids nei *                 8
Lanternfishes nei *                  8
Villsvinfisk                         7
Forkbeard *                          5
Makrellstørje                        5
Islandshå                            4
Annen sardin                         4
Lusuer                               4
Blekkspruter uspes.                  4
Spisskate                            4
Annen flatfisk                       4
Dyphavsabbor                         3
Svartskate                           3
Nise                                 3
Vanlig ulke                          2
Sanktpetersfisk                      2
Burton-skate                         2
Ål                                   2
Vanlig fløyfisk                      2
Annen torskefisk                     2
Various squids nei *                 2
Rundskate                            2
Havål                                2
Blæretang                            1
Ansjos                               1
Svabergsjøpiggsvin                   1
Sandtunge                            1
Trollkrabbe                          1
Isskate                              1
Skjeggtorsk                          1
Sagtang                              1
Annen makrell                        1
Blåhval                              1
Annen laksefisk                      1
Bukstripet pelamide                  1
Name: count, dtype: int64

In [844]:
# Reset display options to default
pd.reset_option('display.max_rows')

x = df['Bruttotonnasje annen']
df['Bruttotonnasje 1969'].fillna(x, inplace=True) # Slår sammen kolonnene
df.drop(columns = ['Bruttotonnasje annen'], inplace=True) # Dropper Bruttotonnasje annen.
df.dropna(inplace = True)

df.drop_duplicates(inplace = True) # Dropper duplikater
df['Art - FDIR'].value_counts()

Art - FDIR
Torsk                  55749
Sei                    41903
Hyse                   38735
Lange                  17040
Uer (vanlig)           14108
                       ...
Blåhval                    1
Annen makrell              1
Ansjos                     1
Rød kråkebolle             1
Bukstripet pelamide        1
Name: count, Length: 117, dtype: int64

In [845]:
def join_unique_values(series):
    return ', '.join(series.dropna().astype(str).unique())

# Adjusting the grouping to consider both Melding ID and an identifier for fishing activities, assuming 'Starttidspunkt' is that identifier.
df_grouped = df.groupby(['Melding ID', 'Starttidspunkt'], as_index=False).agg({
    'Startposisjon bredde': 'first',
    'Startposisjon lengde': 'first',
    'Startklokkeslett': 'first',
    'Havdybde start': 'first',
    'Stopposisjon bredde': 'last',
    'Stopposisjon lengde': 'last',
    'Havdybde stopp': 'last',
    'Trekkavstand': 'first',  # Adjusted based on assumption that distance is consistent within an activity.
    'Redskap FDIR': join_unique_values,
    'Hovedart FAO': 'first',  # Assuming main species is consistent within an activity.
    'Art - FDIR': join_unique_values,
    'Art - gruppe': join_unique_values,
    'Rundvekt': 'sum',  # Summing up the total weight.
    'Lengdegruppe (kode)': 'first',  
    'Bruttotonnasje 1969': 'first'
})
df_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91185 entries, 0 to 91184
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Melding ID            91185 non-null  int64
 1   Starttidspunkt        91185 non-null  object
 2   Startposisjon bredde  91185 non-null  float64
 3   Startposisjon lengde  91185 non-null  float64
 4   Startklokkeslett      91185 non-null  object
 5   Havdybde start        91185 non-null  int64
 6   Stopposisjon bredde   91185 non-null  float64
 7   Stopposisjon lengde   91185 non-null  float64
 8   Havdybde stopp        91185 non-null  int64
 9   Trekkavstand          91185 non-null  float64
 10  Redskap FDIR          91185 non-null  object
 11  Hovedart FAO          91185 non-null  object
 12  Art - FDIR            91185 non-null  object
 13  Art - gruppe          91185 non-null  object
 14  Rundvekt              91185 non-null  float64
 15  Lengdegruppe (kode)   91185 non-null  float64
 16  Bruttotonnasje 1969   91185 non-null  float64
dtypes: float64(8), int64(3), object(6)
memory usage: 11.8+ MB

In [846]:
#Konverterer til datetime
df_grouped['Startklokkeslett'] = pd.to_datetime(df_grouped['Startklokkeslett'], format='%H:%M')
bins = list(range(0, 25))
labels = list(range(24))
df_grouped['Startklokkeslett - bins'] = pd.cut(df_grouped['Startklokkeslett'].dt.hour, bins=bins, labels=labels, right=False)
df_grouped['Startklokkeslett - bins'].value_counts()
df_grouped['Startklokkeslett - bins'].value_counts().sort_index()

Startklokkeslett - bins
0     5585
1     2855
2     2873
3     3832
4     4260
5     4734
6     4718
7     4285
8     4016
9     3894
10    3942
11    4212
12    4315
13    4052
14    3693
15    3531
16    3491
17    3677
18    3421
19    3007
20    2976
21    3085
22    3443
23    3288
Name: count, dtype: int64

Kosinus time.

In [847]:
fish_types = ['Hyse', 'Torsk', 'Sei', 'Lange']
fish_tools = ['Bunntrål', 'Dobbeltrål', 'Snurrevad', 'Udefinert trål']

condition_fish_types = df_grouped['Hovedart FAO'].isin(fish_types)
condition_fish_tools = df_grouped['Redskap FDIR'].isin(fish_tools)

combined_condition = condition_fish_tools & condition_fish_types # & condition_areas 
filtered_df = df[combined_condition]
filtered_df.info()

/var/folders/87/czlwvtcd4j3cz6jlhc_45ld00000gn/T/ipykernel_30072/2006037163.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = df[combined_condition]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [ ]:
filtered_df['Startklokkeslett - bins'].value_counts().sort_index()

KeyError: 'Startklokkeslett - bins'

In [ ]:
# Calculate the counts of each unique value in 'Hovedart - FDIR (kode)'
counts = filtered_df['Hovedart FAO'].map(filtered_df['Hovedart FAO'].value_counts())

counts

1         18846
2         18846
3         18846
4         18846
5         18846
          ...
305429    18846
305430    18846
305431    18846
305432    18846
305433    18846
Name: Hovedart FAO, Length: 137240, dtype: int64

In [ ]:
filtered_df['Hovedart FAO'].value_counts()

Hovedart FAO
Torsk    61354
Sei      55862
Hyse     18846
Lange     1178
Name: count, dtype: int64